footer.footer-demo{
	background-color: #4acaa8 !important;
}
footer.footer-demo nav.pull-left li{
	padding-top: 5px !important;
	margin-right:30px !important;
}

@media (max-width: 480px)
{
footer.footer-demo li{
	padding-top: 0px !important;
}

}